body {
	background-color: black;
}
@media screen and (max-width: 992px) {
	.dropdown-button {
		display: inline-block;
		float: right;
		height: 100%;
		-webkit-transition: .25s;
		background-color: black;
		border-radius: 0px!important;
		width: 7%!important;
		text-align: center;
	}
	.dropdown-button:hover {
		-webkit-transition: .25s;
		background-color: rgba(255, 0, 0, .8);

	}
	.dropdown-content {
		width: 150px;
		height: 144px;
	}
	.dropdown-content li a {
		padding: 0px!important;
		border-radius: 0px!important;
		color: white!important;
	}
	.dropdown-content li a:hover {
		background-color: #c70000!important;
	}
	.separate-buttons {
		display: none;
	}
}
@media screen and (min-width: 993px) {
	.dropdown-button, #nav-dropdown {
		display: none!important;
	}
}
@media screen and (min-width: 1611px) {
	.team-dropdown-button, #team-dropdown {
		display: none!important;
	}
}
@media screen and (max-width: 1610px) {
	.side-nav {
		display: none!important;
	}
	#content {
		width: 100%!important;
		margin: 0!important;
	}
	.team-dropdown-button {
		display: inline-block;
		float: left;
		height: 100%;
		-webkit-transition: .25s;
		background-color: black;
		border-radius: 0px!important;
		width: 7%!important;
		text-align: center;
	}
	.team-dropdown-button:hover {
		-webkit-transition: .25s;
		background-color: rgba(255, 0, 0, .8);
	}
	#team-dropdown {
		width: 220px;
		height: auto;
	}
	#team-dropdown li {
		text-align: center;
	}
	#team-dropdown li a {
		padding: 10px 0px!important;
		border-radius: 0px!important;
		color: white!important;
		background-color: black;
	}
	#team-dropdown li a:hover {
		background-color: #c70000!important;
	}
}
.side-nav {
	width: 13%!important;
	min-width: 206px;
}
#content {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;
	width: 87%;
}
#background {
	vertical-align: top;
	width: 100%;
}
#banner {
	color: black;
	position: absolute;
	left: 20%;
	top: 23%;
}