@media screen and (max-width: 992px) {
	.dropdown-button {
		display: inline-block;
		float: right;
		height: 100%;
		-webkit-transition: .25s;
		background-color: black;
		border-radius: 0px!important;
		width: 7%!important;
		text-align: center;
	}
	.dropdown-button:hover {
		-webkit-transition: .25s;
		background-color: rgba(255, 0, 0, .8);

	}
	.dropdown-content {
		width: 150px;
		height: 144px;
	}
	.dropdown-content li a {
		padding: 0px!important;
		border-radius: 0px!important;
		color: white!important;
	}
	.dropdown-content li a:hover {
		background-color: #c70000!important;
	}
	.separate-buttons {
		display: none;
	}
}
@media screen and (min-width: 993px) {
	.dropdown-button {
		display: none!important;
	}
	#main {
		height: 100%;
	}
}
	body {
		background: #3c3c3c;
	}
	.nav-wrapper {
		background-color: black;
	}
	.progress {
		width: 60%!important;
		margin: 0 auto!important;
	}
	#slideshow {
		vertical-align: middle;
		margin: 0% auto;
		margin-top: 6%;
		position: absolute;
		left: 10%;
		width: 75%;
		padding: 0px!important;
	}
	#slideshow img {
		width: 100%;
	}	