#main {
	height: 811px;
}
body {
	background: #3c3c3c;
}
.nav-wrapper {
	background-color: black;
}
.progress {
	width: 60%!important;
	margin: 0 auto!important;
}
#slideshow {
	vertical-align: middle;
	margin: 0% auto;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 75%;
	padding: 0px!important;
}
#slideshow img {
	width: 100%;
}