* {
	padding: 0;
	margin: 0;
	font-family: arial;
}
body {
	background-color: black;
}
#content {
	background-image: url("../imgs/Start.jpg");
	background-size: cover;
	display: inline-block;
	position: absolute;
	margin-left: -4px;
	vertical-align: top;
	width: 87.7%;
	height: 881px;
}
#banner {
	color: black;
	position: absolute;
	left: 20%;
	top: 23%;
}