@media screen and (max-width: 992px) {
	.nav-dropdown-button {
		display: inline-block;
		float: right;
		height: 100%;
		-webkit-transition: .25s;
		-moz-transition: .25s;
		background-color: black;
		border-radius: 0px!important;
		width: 7%!important;
		text-align: center;
	}
	.nav-dropdown-button:hover {
		-webkit-transition: .25s;
		-moz-transition: .25s;
		background-color: rgba(255, 0, 0, .8);
	}
	#nav-dropdown {
		width: 150px;
		height: 144px;
	}
	#nav-dropdown li a {
		padding: 0px!important;
		border-radius: 0px!important;
		color: white!important;
	}
	#nav-dropdown li a:hover {
		background-color: #c70000!important;
	}
	.separate-buttons {
		display: none;
	}
}
@media screen and (min-width: 993px) {
	.nav-dropdown-button {
		display: none!important;
	}
}
@media screen and (min-width: 1611px) {
	.drivers-dropdown-button, #drivers-dropdown {
		display: none!important;
	}
}
@media screen and (max-width: 1610px) {
	.side-nav {
		display: none!important;
	}
	#content {
		width: 100%!important;
		margin: 0!important;
	}
	.drivers-dropdown-button {
		display: inline-block;
		float: left;
		height: 100%;
		-webkit-transition: .25s;
		-moz-transition: .25s;
		background-color: black;
		border-radius: 0px!important;
		width: 7%!important;
		text-align: center;
	}
	.drivers-dropdown-button:hover {
		-webkit-transition: .25s;
		-moz-transition: .25s;
		background-color: rgba(255, 0, 0, .8);
	}
	#drivers-dropdown {
		width: 220px;
		height: auto;
	}
	#drivers-dropdown li {
		text-align: center;
	}
	#drivers-dropdown li a {
		padding: 10px 0px!important;
		border-radius: 0px!important;
		color: white!important;
		background-color: black;
	}
	#drivers-dropdown li a:hover {
		background-color: #c70000!important;
	}
}
.side-nav {
	width: 13%!important;
	min-width: 206px;
}
#content {
	background-color: #3c3c3c;
	display: inline-block;
	vertical-align: top;
	width: 87%;
	height: 100%;
	margin-left: -4px;
}
#driver_information {
	display: inline-block;
	color: white;
	vertical-align: top;
	margin: 2%;
	width: 400px;
}
#driver_information p, h3 {
	text-align: center;
}
body {
	background-color: black;
}
h1 {
	color: white;
	position: absolute;
	text-align: center;
	top: 51%;
	left: 20%;
}
h4 {
	text-align: center;
}
img {
	width: 100%;
}
.nav-wrapper {
	background-color: black;
}
.driver_pic {
	margin: 2%;
	width: 357px;
}
.progress {
	width: 96%!important;
}
#info_container {
	width: 51%;
	height: 100%;
}
#driver_graph {
	margin: 0px 2%;
	width: 100%!important;
}
#chart_container {
	width: 100%!important;
}